svg {
  width: 1280px;
  height: 800px;
  pointer-events: all;
}

circle {
  fill: #dbe4f0;
}

path {
  fill: rgb(140, 137, 125);
  stroke: rgb(243, 240, 225);
}

path:hover {
  fill: rgba(140, 137, 125, 0.7);
}


