body {
  background-color: rgb(243, 240, 225);
  overflow: hidden;
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}

rect {
  fill: none;
  pointer-events: all;
}

pre {
  font-size: 18px;
}

line {
  stroke: #000;
  stroke-width: 1.5px;
}

#country {
  min-width: 100%;
  position: absolute;
  bottom: 50px;
  text-align: right;
  font-size: 72px;
  background-color: rgba(140, 137, 125, 0.7);
  z-index: 1;
  color: rgb(243, 240, 225);
}
