#body
  #hint
    %p Drag to move the globe.
    %p Double click to play a song from that country.
#country-container
  #country{style:'font-size: 72px;'}
    Planet Rock
%object#music
  %param{name: 'movie',  value:""}
  %embed{src:"", type: 'application/x-shockwave-flash'}

